<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930223031670-17mc30gvhn75q67pf6n6p9gjv10h8b42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930223031670-17mc30gvhn75q67pf6n6p9gjv10h8b42</string>
	<key>API_KEY</key>
	<string>AIzaSyDnu0ZPgAOizXP7INIvgTaDWVYknTSq5tM</string>
	<key>GCM_SENDER_ID</key>
	<string>930223031670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.commercebeacon.havachat</string>
	<key>PROJECT_ID</key>
	<string>havachat-c96a4</string>
	<key>STORAGE_BUCKET</key>
	<string>havachat-c96a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930223031670:ios:eb761f7b2f8d4b63aae657</string>
	<key>DATABASE_URL</key>
	<string>https://havachat-c96a4.firebaseio.com</string>
</dict>
</plist>